.logo-web{
    width: 100%;
    height:60px;
   
}
.wrap
{
    position: relative;
}

.area-pos{
    position: fixed;
    width: 16.667%;
    height: 100%;
}
.logo-web__img{
    width: 100%;
    height: 100%;
}
.header-web{
   background-color: #000;
    width: 100%;
    height: 61px;
    display: inline-block;
}
.header-navbar__list{
    display: flex;
    justify-content: flex-end;
    margin: 22px 50px 0 0;
}
.header-navbar__list-item{
    list-style: none;
    margin: 0 20px;
}
.header-link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
}


.search-add-filter{
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
}

.area-search__text{
    width: 200px;
    height: 34px;
}
.area-search__btn{
    width: 72px;
    height: 34px;
    background-color:var(--black-color);
    color: var(--white-color);
    border: none;
    border-radius: 2px;
}
.add-filter{
    display: flex;

}
.add-item{
    display: flex;
    width: 130px;
    height: 34px;
    margin-right: 4px;
    align-items: center;
    color: var(--white-color);
    background-color:var(--black-color);
    border: none;
    border-radius: 2px;
}
.add-item__icon{
    
    font-size: 1.4rem;
    margin:0 8px;
   
}
.add-item__text{
    font-size: 1.4rem;
}
.filter-list{
    width: 34px;
    height: 34px
    
}

.conten{
  
   
    height: 100vh;
    margin: 10px 0 10px 0;
}
.menu{
    background-color: #373942;
    margin: 0 ;
    padding: 20px 0 ;
    height: 100%;
    width: 100%;
    overflow: hidden;
  
}
.menu__item{
    list-style: none;
    padding: 10px;
    cursor: pointer;
    
}


.menu__item:hover{
    border-left: 3px solid #dce1ea;
    background-color: #232429;
    opacity: 0.5;
}
.menu__item-link{
    font-size: 1.6em;
    text-decoration: none;
    color: #535d65; 
}
.menu__item-link:hover{
    margin-left: 4px;
    
}

.sub-menu {
    display: none;
    background-color: #373942;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    margin-left: 80px;

}

.sub-menu-item  {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.sub-menu-item:first-child{
    margin-top: 15px;
}
.menu__item-link-icon{
    margin:0 20px 0 16px;
}
table{
    width: calc(100% - 20px);
    margin-left: 10px;
}